.otfm_spoiler_wrapper {
    border: 1px solid #e5e5e5;
    margin: 5px 0;
}
.otfm_spoiler_f5f5f5 {border-color: #e5e5e5;}
.otfm_spoiler_e5e5e5 {border-color: #d5d5d5;}
.otfm_spoiler_ffeead {border-color: #ebda99;}
.otfm_spoiler_e8d98a {border-color: #cfc071;}
.otfm_spoiler_feb236 {border-color: #e09418;}
.otfm_spoiler_f9ccac {border-color: #e0b393;}
.otfm_spoiler_f2ae72 {border-color: #d49054;}
.otfm_spoiler_ffcfcf {border-color: #e5b5b5;}
.otfm_spoiler_eca1a6 {border-color: #ce8388;}
.otfm_spoiler_e3eaa7 {border-color: #cad18e;}
.otfm_spoiler_b5e7a0 {border-color: #97c982;}
.otfm_spoiler_bdcebe {border-color: #9fb0a0;}
.otfm_spoiler_d6cbd3 {border-color: #b8adb5;}
.otfm_spoiler_e6e2d3 {border-color: #cdc9ba;}
.otfm_spoiler_dac292 {border-color: #c1a979;}
.otfm_spoiler_d5e1df {border-color: #bcc8c6;}
.otfm_spoiler_b7d7e8 {border-color: #99b9ca;}
.otfm_spoiler_9fd5f0 {border-color: #81b7d2;}
.otfm_spoiler_ffffff {border-color: #e5e5e5;}
