.otfm-sp__wrapper {
    border: 1px solid #e5e5e5;
    margin: 5px 0;
}
.otfm-sp__f5f5f5 {border-color: #e5e5e5;}
.otfm-sp__e5e5e5 {border-color: #d5d5d5;}
.otfm-sp__ffeead {border-color: #ebda99;}
.otfm-sp__e8d98a {border-color: #cfc071;}
.otfm-sp__feb236 {border-color: #e09418;}
.otfm-sp__f9ccac {border-color: #e0b393;}
.otfm-sp__f2ae72 {border-color: #d49054;}
.otfm-sp__ffcfcf {border-color: #e5b5b5;}
.otfm-sp__eca1a6 {border-color: #ce8388;}
.otfm-sp__e3eaa7 {border-color: #cad18e;}
.otfm-sp__b5e7a0 {border-color: #97c982;}
.otfm-sp__bdcebe {border-color: #9fb0a0;}
.otfm-sp__d6cbd3 {border-color: #b8adb5;}
.otfm-sp__e6e2d3 {border-color: #cdc9ba;}
.otfm-sp__dac292 {border-color: #c1a979;}
.otfm-sp__d5e1df {border-color: #bcc8c6;}
.otfm-sp__b7d7e8 {border-color: #99b9ca;}
.otfm-sp__9fd5f0 {border-color: #81b7d2;}

.otfm-sp__title {
    cursor: pointer;
    min-height: 20px;
    padding: 5px 10px 5px 30px;
    position: relative;
}
.otfm-sp__title:hover {
    filter: brightness(0.97);
}

.otfm-sp__f5f5f5 .otfm-sp__title {background-color: #f5f5f5;}
.otfm-sp__e5e5e5 .otfm-sp__title {background-color: #e5e5e5;}
.otfm-sp__ffeead .otfm-sp__title {background-color: #ffeead;}
.otfm-sp__e8d98a .otfm-sp__title {background-color: #e8d98a;}
.otfm-sp__feb236 .otfm-sp__title {background-color: #feb236;}
.otfm-sp__f9ccac .otfm-sp__title {background-color: #f9ccac;}
.otfm-sp__f2ae72 .otfm-sp__title {background-color: #f2ae72;}
.otfm-sp__ffcfcf .otfm-sp__title {background-color: #ffcfcf;}
.otfm-sp__eca1a6 .otfm-sp__title {background-color: #eca1a6;}
.otfm-sp__e3eaa7 .otfm-sp__title {background-color: #e3eaa7;}
.otfm-sp__b5e7a0 .otfm-sp__title {background-color: #b5e7a0;}
.otfm-sp__bdcebe .otfm-sp__title {background-color: #bdcebe;}
.otfm-sp__d6cbd3 .otfm-sp__title {background-color: #d6cbd3;}
.otfm-sp__e6e2d3 .otfm-sp__title {background-color: #e6e2d3;}
.otfm-sp__dac292 .otfm-sp__title {background-color: #dac292;}
.otfm-sp__d5e1df .otfm-sp__title {background-color: #d5e1df;}
.otfm-sp__b7d7e8 .otfm-sp__title {background-color: #b7d7e8;}
.otfm-sp__9fd5f0 .otfm-sp__title {background-color: #9fd5f0;}

.otfm-sp__content {
    opacity: 0;
    overflow: hidden;
    -webkit-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
}
.js-otfm-sp__opened .otfm-sp__content {
    box-sizing: content-box;
    height: auto !important;
    opacity: 1 !important;
    padding: 5px 10px;
    visibility: visible !important;
}
.otfm-sp__content > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}


.js-otfm-sp__opened .otfm-sp__title::after {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
}
.otfm-sp__title::after {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.otfm-sp__title::after,
.otfm-sp__title::before {
    background-color: #777;
    content: " ";
    display: block;
    height: 2px;
    left: 16px;
    opacity: 1;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.2s cubic-bezier(0.42,0,0.58,1);
            transition: all 0.2s cubic-bezier(0.42,0,0.58,1);
    width: 14px;
}
.js-otfm-sp__opened .otfm-sp__title::before {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
}
.otfm-sp__title::before {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
}
.otfm-sp__title:hover::after,
.otfm-sp__title:hover::before {
    background-color: #000;
}
